body {
    font-family: 'Montserrat', sans-serif;
    position: relative;
}

.nav-link {
    color: #fff !important;
    text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.8);
    margin-right: 15px;
}

.jumbotron {
    padding-top: 5rem;
    background-color: #cf9eda;
    height: 100vh;
    position: relative;
}

.about {
    height: 100vh;
}

.nama {
    color: #a912c7;
    font-size: 1.4rem;
}

.progress-bar {
    background-color: #a912c7 !important;
}

.projects {
    background-color: #cf9eda;
}

.card {
    box-shadow: rgba(255, 255, 255, 0.1) 0px 1px 1px 0px inset, rgba(50, 50, 93, 0.25) 0px 50px 100px -20px, rgba(0, 0, 0, 0.3) 0px 30px 60px -30px;
}

.btn {
    background-color: #a912c7 !important;
    border: none !important;
    transition: all .3s ease !important;
}

.btn:hover {
    background-color: #fff !important;
    border: 1px solid #a912c7 !important;
    color: #a912c7 !important;
}

section {
    padding-top: 5rem;
}

footer {
    background-color: #a912c7;
}

/* Media Queries */
@media (min-width: 992px) {
    .nav-link:hover::after {
        content: '';
        display: block;
        border-bottom: 3px solid #fff;
        width: 60%;
        margin: auto;
        padding-bottom: 5px;
        margin-bottom: -8px;
    }
}